
@{
    ViewData["Title"] = "Add Issues";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";
}

<div class="container">
    
    @using (Html.BeginForm("CreateIssues", "Issues", FormMethod.Post, new { @class = "w-100" }))
    {

        <div class="mb-3">
            <label for="IssueCode" class="form-label">Issue Code</label>
            <input type="text" class="form-control" name="IssueCode" placeholder="Enter Code">
        </div>

        <div class="mb-3">
            <label for="IssueTitle" class="form-label">Issue Title</label>
            <input type="text" class="form-control" name="IssueTitle" placeholder="Enter Title">
        </div>
 
    <button type="submit" class="btn btn-primary">Submit</button>
    }

</div>




 @section Scripts {

}




