@*@model OnlineAccountDemo.Models.BrandCategory*@

@{
    ViewData["Title"] = "Add Brand";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";

}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .main-div {
        margin: 100px auto;
        width: 650px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
</style>

<div class="container mt-5">
    
    @using (Html.BeginForm("CreateIssueStatus", "IssuesStatus", FormMethod.Post, new { @class = "w-100" }))
    {

        <div class="mb-3">
            <label for="StatusTitle" class="form-label">Status Title</label>
            <input type="text" class="form-control" name="StatusTitle" placeholder="Enter Status Title">
        </div>
    <div class="mb-3">
            <label for="StatusCode" class="form-label">Stauts Code:</label>
            <input type="text" class="form-control" name="StatusCode" placeholder="Enter Status Code">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    }

</div>




 @section Scripts {

}




