@*@model OnlineAccountDemo.Models.BrandCategory*@

@{
    ViewData["Title"] = "Add Brand";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";

}

<div class="container">
    
    @using (Html.BeginForm("CreateBrand", "RepairCategory", FormMethod.Post, new { @class = "w-100" }))
    {
    <div class="mb-3">
            <label for="BrandCode" class="form-label">Brand Code</label>
            <input type="text" class="form-control" name="BrandCode" placeholder="Enter your name">
    </div>

    <div class="mb-3">
            <label for="BrandTitle" class="form-label">Brand Title:</label>
            <input type="text" class="form-control" name="BrandTitle" placeholder="Enter Brand Title">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    }

</div>




 @section Scripts {

}




