@using OnlineAccountDemo.Models;

@{
    ViewData["Title"] = "Add Issues";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";


    var issuesList = ViewBag.IssuesList as List<ModelIssues>;
    var brandList = ViewBag.BrandList as List<BrandCategory>;
    var modelList = ViewBag.ModelList as List<BrandModel>;
}

<style>
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    .main-div {
        margin: 100px auto;
        width: 650px;
        border-radius: 5px;
        box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    }
</style>

<div class="container mt-5">
    
    @using (Html.BeginForm("CreatePricing", "IssuesPricing", FormMethod.Post, new { @class = "w-100" }))
    {

        <div class="mb-3">
            <label for="BrandId" class="form-label">Brand</label>
            @Html.DropDownList("IssueBrandId", new SelectList(brandList, "Id", "BrandTitle"),"Select Brand",new { @class = "form-control" })
        </div>
            <div class="mb-3">
            <label for="ModelId" class="form-label">Model</label>
            @Html.DropDownList("IssueModelId", new SelectList(modelList, "Id", "ModelTitle"),"Select Model",new { @class = "form-control" })
            </div>
            <div class="mb-3">
            <label for="IssuesId" class="form-label">Issue</label>
            @Html.DropDownList("IssuesId", new SelectList(issuesList, "Id", "IssueTitle"),"Select Issue",new { @class = "form-control" })
            </div>

            <div class="mb-3">
            <label for="IssuePrice" class="form-label">Price</label>
            <input type="number" class="form-control" name="IssuePrice" placeholder="">
            </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    }

</div>




 @section Scripts {

}




