@model IEnumerable<OnlineAccountDemo.Models.IssuePricing>
@using OnlineAccountDemo.Models;

@{
    ViewData["Title"] = "Pricing List";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";



    var issuesList = ViewBag.IssuesList as List<ModelIssues>;
    var brandList = ViewBag.BrandList as List<BrandCategory>;
    var modelList = ViewBag.ModelList as List<BrandModel>;
}


<div class="container">
    <a href="@Url.Action("CreatePricing","IssuesPricing")" class="btn btn-outline-success btn-lg bx-pull-right"><i class="bx bx-plus-medical"></i></a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Brand</th>
                <th scope="col">Model</th>
                <th scope="col">Issue</th>
                <th scope="col">Price</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@brandList!.Where(x=>x.Id==item.IssueBrandId).Select(x=>x.BrandTitle).FirstOrDefault()</td>
                    <td>@modelList!.Where(x=>x.Id==item.IssueModelId).Select(x=>x.ModelTitle).FirstOrDefault()</td>
                    <td>@issuesList!.Where(x=>x.Id==item.IssuesId).Select(x=>x.IssueTitle).FirstOrDefault()</td>
                    <td>@item.IssuePrice</td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-box-arrow-up"></i></button>
                        <button type="button" class="btn btn-outline-danger btn-sm"><i class="bx bx-minus-circle"></i></button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


@section Scripts {

}




