@model IEnumerable<OnlineAccountDemo.Models.ModelColor>

@{
    ViewData["Title"] = "Model List";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";
}


<div class="container">
    <a href="@Url.Action("CreateColor","Color")" class="btn btn-outline-success btn-lg bx-pull-right"><i class="bx bx-plus-medical"></i></a>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Color Title</th>
                <th scope="col">Color Code</th>
                <th scope="col">Status</th>
                <th scope="col">Action</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.ColorTitle</td>
                    <td>@item.ColorCode</td>
                    <td>@item.Status/td>
                    <td>
                        <button type="button" class="btn btn-outline-primary btn-sm"><i class="bi bi-box-arrow-up"></i></button>
                        <button type="button" class="btn btn-outline-danger btn-sm"><i class="bx bx-minus-circle"></i></button>
                    </td>
                </tr>
            }

        </tbody>
    </table>
</div>


@section Scripts {

}




