@model OnlineAccountDemo.Models.ModelColor

@{
    ViewData["Title"] = "Edit Color";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";

}

<div class="container">

    @using (Html.BeginForm("UpdateColor", "Color", FormMethod.Post, new { @class = "w-100" }))
    {
        <div class="mb-3">
            <label for="ColorCode" class="form-label">Color Code</label>
            <input type="text" class="form-control" name="ColorCode" value="@Model.ColorCode">
        </div>
        <div class="mb-3">
            <label for="ColorTitle" class="form-label">Color Title</label>
            <input type="text" class="form-control" name="ColorTitle" value="@Model.ColorTitle">
        </div>

        <button type="submit" class="btn btn-primary">Update</button>
    }

</div>




@section Scripts {

}




