@using OnlineAccountDemo.Models;

@{
    ViewData["Title"] = "Add Brand";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";


    var brandList = ViewBag.BrandList as List<BrandCategory>;

}

<div class="container">

    @using (Html.BeginForm("CreateBrandModel", "BrandModel", FormMethod.Post, new { @class = "w-100" }))
    {
        <div class="mb-3">
            <label for="BrandId" class="form-label">Brand Id</label>
            @Html.DropDownList("BrandId", new SelectList(brandList, "Id", "BrandTitle"),"Select Brand",new { @class = "form-control" })
        </div>
        <div class="mb-3">
            <label for="ModelTitle" class="form-label">Model Title</label>
            <input type="text" class="form-control" name="ModelTitle" placeholder="Enter Model Title">
        </div>
        <div class="mb-3">
            <label for="ModelCode" class="form-label">Model Code:</label>
            <input type="text" class="form-control" name="ModelCode" placeholder="Enter Model Code">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    }

</div>




@section Scripts {

}




