@using OnlineAccountDemo.Models;
@model OnlineAccountDemo.Models.BrandModel;

@{
    ViewData["Title"] = "Update Model";
    Layout = "~/Views/Shared/_ISMLayout.cshtml";

    var brandList = ViewBag.BrandList as List<BrandCategory>;
    int selectedBrandId = Model.BrandId;

}

<div class="container">

    @using (Html.BeginForm("UpdateModel", "BrandModel", FormMethod.Post, new { @class = "w-100" }))
    {
        <div class="mb-3">
            <label for="BrandId" class="form-label">Brand</label>
            <input type="hidden" class="form-control" value="@Model.Id" name="Id">
            @Html.DropDownList("BrandId", new SelectList(brandList, "Id", "BrandTitle",selectedBrandId),"Select Brand",new { @class = "form-control" })
        </div>
         <div class="mb-3">
            <label for="ModelCode" class="form-label">Model Code</label>
            <input type="text" class="form-control" name="ModelCode" value="@Model.ModelCode">
        </div>
        <div class="mb-3">
            <label for="ModelTitle" class="form-label">Model Title</label>
            <input type="text" class="form-control" name="ModelTitle" value="@Model.ModelTitle">
        </div>
       
        <button type="submit" class="btn btn-primary">Update</button>
    }

</div>




@section Scripts {

}




